*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.home
{
    max-width: 100%;
    margin-top: 25px;
    height: 700px;
    background: url('https://sun9-26.userapi.com/impf/c851132/v851132221/60c23/Epjp4I-FSlc.jpg?size=1244x700&quality=96&sign=5395ee44a062f963cef8400cf0dd0cb1&type=album');
    background-size: cover;
    background-repeat: no-repeat;
}

.link_home
{
    margin-left: 850px;
    position: relative;
    margin-top: 50%;
    color: white;
}